name: Build FIS Index

on:
  push:
    branches: [ "main" ]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Generate index
        run: node scripts/build_fis_manifests.mjs

      - name: Generate last update file
        run: |
        echo "window.LAST_UPDATE = '$(date -u +"%Y-%m-%d %H:%M:%S UTC")';" > last-update.js

      - name: Commit index if changed
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          git add map_files/dbus_fis_index.json

          git commit -m "Auto update FIS index" || echo "No changes"

          git push